 <!-- PAGE INDICATOR. .-->
       

        
 <div class="py-5 p-md-5 col-12 container-fluid rounded feature-blog">
    <div class="col-md-6 px-0 mx-auto">
        
        <!--MUST BE DYNAMIC TO TELL WHAT PAGE YOU ARE AT AND A BRIEF DESCRIPTION OF CURRENT PAGE. ALSO THE CONTAINER OF THE CURRENT BLOG TITLE  -->

      <h1 class="display-2 fst-italic text-center"><%= pageName %></h1>
      <p class="lead my-3 text-center">
        <%= pageDesc %>
      </p>
    </div>
  </div>