<div class="col-md-12 d-flex row bg-light mt-4 py-2 rounded">
    <div class="col-md-6 text-center">
        <a href="/dashboard/edit-profile" class="text-decoration-none text-dark fs-5"><span class="material-icons">
face
</span>Edit Profile</a>
    </div>
    <div class="col-md-6 text-center">
        <a href="/dashboard/add-blog" class="text-decoration-none text-dark fs-5"><span class="material-icons">
article
</span>Add Blog</a>
    </div>
</div>