<%- include('./includes/head.ejs') %>
</head>
  <body>
   
    <main class="container">
        <div class="mx-auto col-md-12 mt-4">
            <div class="col-md-10 mx-auto mt-4 row">
                
                <div class="col-md-6 align-middle">
                    <p class="display-6 text-center mt-5 pt-5">Seem to be on the wrong page my guy.Best take you <a href="/" class="text-dark">home</a></p>
                 </div>
                 
                 <div class="col-md-6">
                     <img src="/images/404-img.png" class="img-fluid" alt="">
                 </div>   
                
            </div>

        </div>

    </main>

     <footer class="footer">
        <p class="text-center">Random words to not make it look empty</p>
    </footer>
  </body>
  </html>